h1 {
font-family: 'Noto Serif', serif;
font-size: 25px;
}
h2 {
font-family: 'Noto Serif', serif;
font-size: 14px;
}
/* here is where the paragraphs start */
p {
font-family: 'Lato', Helvetica, Arial, sans-serif;
font-size: 16px;
}
#content {
    margin: 0 auto;
    width:740px;
}
#starter h2{
    font-weight: bold;
}
#starter h3 {
    font-weight:normal;
    color:#ababab;
}
